#introduction {
  height: auto;
  margin: 0em 3em 0em 3em;
}


@media (max-width: 1000px){
  #introduction {
    height: auto;
    width: 50em;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  #services p:first-child{
    margin-top: 20px;
    margin-bottom: 50px;
  }
  #gallery {
    margin-bottom: 40px;
  }
  #services {
    padding-top: 0;
    width: 50em;
    margin: auto;
    margin-bottom: 140px;
  }
}
