main {
  padding-bottom: 80px;
  margin-top: 2.2em;
}

#services {
  margin-top: 4em;
}

#gallery {
  margin-bottom: 10px;
}




@media (max-width: 1000px){
#introduction {
  height: auto;
  width: auto;
  margin-bottom: 3vh;
}
#introduction h6 {
  margin-top: 20px;
  font-size: 40px;
  text-align:justify;
}
#introduction h5 {
  margin-bottom: 40px;
  font-size: 50px;
}
#introduction h6:last-child {
  margin-top: 40px;
}
#gallery {
  margin-bottom: 0;
}
#services {
  margin-top: 50px;
}
#services h6 {
  text-align: center;
}
#services p {
  width: 100%;
  text-align: justify;
  margin-top: 30px;
}
#services p:last-child {
  margin-top: 80px;
}
}
