#introduction {
  height: 10em;
  margin: 1em 3em 3em 3em;
}

#gallery {
  margin-bottom: 30px;
}
#services {
  margin-top: 1.3em;
}

@media (max-width: 1000px){
  #introduction {
    height: auto;
    width: 50em;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #services {
    width: 50em;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 140px;
  }
}
