#introduction {
  height: 10em;
  margin: 3em 3em 3em 3em;
}

#services {
  margin-top: 1.3em;
}

@media (max-width: 1000px){
  #introduction {
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  #services {
    padding-bottom: 50px;
  }
}
