main {
  margin-top: 20px;
}

#services {
  margin-top: 25px;
}

#gallery {
  margin-bottom: 15px;
}

@media (max-width: 1000px){
#introduction {
  height: auto;
  width: 50em;
  margin: auto;
  margin-bottom: 35px;
  margin-top: 30px;
}
#introduction h6 {
  margin-top: 20px;
  font-size: 40px;
  text-align:justify;
}
#introduction h5 {
  margin-bottom: 30px;
  font-size: 50px;
}
#introduction h6:last-child {
  margin-top: 40px;
}
#gallery {
  margin-top: 30px;
}
#services {

  width: 50em;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 140px;
}
}
